name: flutter_marquee_plus
description: A lightweight and customizable marquee (scrolling text) widget for Flutter.
version: 1.0.3

homepage: https://github.com/Krutikgohel/flutter-marquee-plus
repository: https://github.com/Krutikgohel/flutter-marquee-plus
issue_tracker: https://github.com/Krutikgohel/flutter-marquee-plus/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter